 body {
     padding: 10px 30px;
 }
 
 img {
     width: 100%;
     max-width: 400px;
     height: auto;
 }
 
 #section3 {
     background-color: #dda0dd;
 }
 
 .bloc-titre {
     height: 600px;
     width: 300px;
     background-color: rgba(255, 94, 0, 0.2);
 }
 
 h1 {
     font-family: 'helvetica', Arial, serif;
     font-size: 3em;
     color: rgb(0, 0, 255);
     text-align: center;
 }
 
 h2 {
     font-weight: bold;
     color: #0f0;
 }
 
 p {
     font-family: Arial;
     color: chocolate;
 }
 
 a {
     color: green;
 }
 
 a:hover {
     color: yellow;
     text-decoration: red underline;
 }
 
 a:visited {
     color: blue;
 }
 
 aside {
     background-color: aquamarine;
 }
 
 aside article:last-child {
     width: 100%;
     max-width: 600px;
     background-color: bisque;
     margin: 30px auto;
     border: 3px dotted red;
 }
 
 aside article p:first-child {
     color: blue;
     padding: 50px;
 }