* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}

header,
nav,
main,
footer,
section,
article,
div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
    max-width: 940px;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px 0px 0px 10px;
    width: 50%;
    padding: 20px;
    justify-content: center;
    flex-flow: row wrap;
    align-items: baseline;
}

header {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

nav ul {
    list-style: none;
}

nav li {
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: #444;
    font-weight: bold;
    text-transform: uppercase;
}

h1 {
    font-family: 'Crete Round', serif;
    font-size: 45px;
    color: #444;
}

h2 {
    color: #444;
    font-size: 48px;
}

h4 {
    font-size: 24px;
    color: #444;
}

p {
    line-height: 20px;
    color: #777;
}

small {
    font-size: 13px;
    font-style: italic;
}

.orange {
    color: #ff7100;
}

.button {
    width: 120px;
    height: 50px;
    background-color: #ff7100;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
}

button:hover {
    background-color: #02d8dd;
}

section {
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

#main-image {
    height: 525px;
    background: url('../img/main.jpg') center;
    align-items: stretch;
}

#main-image .container {
    justify-content: space-around;
}

#main-image h2 {
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
}

#steps {
    display: flex;
    padding: 40px 0px;
}

#steps article {
    padding: 140px 10px 0px 10px;
    background-position-x: center;
    margin-bottom: 30px;
}

#steps article p {
    text-align: center;
}

#steps article:nth-child(1) {
    background: url('../img/steps-icon-1.png') no-repeat top center;
}

#steps article:nth-child(2) {
    background: url('../img/steps-icon-2.png') no-repeat top center;
}

#steps article:nth-child(3) {
    background: url('../img/steps-icon-3.png') no-repeat top center;
}

#steps h4 {
    text-transform: uppercase;
    margin-bottom: 20px;
}

#possibilities {
    display: flex;
    padding: 40px 0px;
    background-color: #efefef;
}

#possibilities article {
    border-radius: 10px;
    margin-bottom: 15px;
    min-height: 270px;
    flex-direction: row;
    align-items: stretch;
    align-content: stretch;
}

#possibilities h4 {
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
    text-align: center;
}

#possibilities p {
    text-align: center;
}

#possibilities .button {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 6px 20px;
    height: auto;
}

#possibilities .button:hover {
    background-color: #02d8dd;
}

@media only screen and (min-width: 768px) {
    .container {
        flex-flow: row wrap;
    }
    header {
        height: 120px;
    }
    header .container {
        flex-direction: column;
        align-items: stretch;
        justify-content: space-around;
    }
    h1 {
        align-self: center;
    }
    header nav {
        flex-direction: row;
    }
    nav ul {
        display: flex;
        flex-grow: 10;
        justify-content: space-around;
    }
    nav li {
        text-align: right;
    }
    #main-image .container {
        flex-direction: column;
    }
    #steps .container,
    #possibilities .container {
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    #possibilities article {
        width: 48%;
        margin-bottom: 0px;
    }
}

@media only screen and (min-width: 1024px) {
    header .container {
        flex-direction: row;
        justify-content: space-between;
    }
    nav ul {
        justify-content: flex-end;
    }
    nav ul li {
        padding: 0;
        margin-left: 20px;
    }
}